---
interface Props {
  videoId: string
  className?: string
}

const { videoId, className = '' } = Astro.props
---

<div class={`relative ${className}`}>
  <iframe
    src={`https://www.youtube.com/embed/${videoId}`}
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="absolute inset-0 w-full h-full"
  ></iframe>
</div>
